

#containerformslist {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

/* InventoryComponent's private CSS styles */
.inventories {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.inventories li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 2.0em;
  border-radius: 4px;
}
.inventories li:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: .1em;
}
.inventories li.selected {
  background-color: lightblue;
  color: white;
}
.inventories li.selected:hover {
  background-color: #505050;
  color: white;
}
.inventories li.selected:active {
  background-color:grey;
  color: white;
}
.inventories .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#778899;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -3.7px;
  height: 2.1em;
  margin-right: .9em;
  border-radius: 4px 0 0 4px;
}

input {
  padding: .5rem;
}