/* Style the sidebar - fixed full height */
.sidebar {
  height: 100%;
  width: 210px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#778899;
  overflow-x: hidden;
  padding-top: 16px;
}

/* Style sidebar links */
.sidebar a {
  padding: 10px 12px 10px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #1b0505;
  display: block;
}


/* Style links on mouse-over */
.sidebar a:hover {
  color: #f1f1f1;
  
}

/* Style the main content */
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

#containerformslist {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;


  
}

/* InventoryComponent's private CSS styles */
.inventories {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.inventories li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 2.0em;
  border-radius: 4px;
}
.inventories li:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: .1em;
}
.inventories li.selected {
  background-color: black;
  color: white;
}
.inventories li.selected:hover {
  background-color: #505050;
  color: white;
}
.inventories li.selected:active {
  background-color: black;
  color: white;
}
.inventories .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#778899;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 2.0em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

input {
  padding: .5rem;
}