<!-- <nav> 
  <a routerLink="/inventories">PCSTest</a>
</nav> -->

<!-- For Now it holds the list info -->
<div id="containerformslist">
  <h2>Inventory App</h2>

  <app-inventory-detail [inventory]="selectedInventory"></app-inventory-detail>

  <ul class="inventories">
    <li [class.selected]="inventory === selectedInventory" *ngFor="let inventory of inventories"
      (click)="onSelect(inventory)"> 
      <span class="badge">{{ inventory.id }}</span> {{ inventory.name}}
      
      
    </li>
  </ul>
</div>
